<div class="flex items-center justify-center h-screen">
  <div class="overflow-x-auto">
    <h1 class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Rodrigo Polegre</h1>
    
    <table class="min-w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-gray-600">Bono</th>
          <th class="px-4 py-2 text-left text-gray-600">Precio</th>
          <th class="px-4 py-2 text-left text-gray-600">Divisa</th>
          <th class="px-4 py-2 text-left text-gray-600">Hora 1</th>
          <th class="px-4 py-2 text-left text-gray-600">Hora 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">5x6</td>
          <td class="border px-4 py-2">60</td>
          <td class="border px-4 py-2">Dolar</td>
          <td class="border px-4 py-2">12/01/2024</td>
          <td class="border px-4 py-2">20/01/2024</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>