<div class="flex items-center justify-center h-screen">
  <div class="mb-4 w-full max-w-xs">
    <form>
      <label for="exampleInput" class="block text-gray-700 text-sm font-bold mb-2">
        Cédula
      </label>
      <input type="text" id="exampleInput" name="exampleInput" [(ngModel)]="cedula"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Introduce tu cédula...">
      <button (click)="onSubmit()"
        class="w-full mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Entrar
      </button>
    </form>
  </div>
</div>