
<div class="flex items-center justify-center ">
  <div class="overflow-x-auto">
    <table class="min-w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-gray-600">ID</th>
          <th class="px-4 py-2 text-left text-gray-600">Bono</th>
          <th class="px-4 py-2 text-left text-gray-600">Precio</th>
          <th class="px-4 py-2 text-left text-gray-600">Divisa</th>
          @for(column of hourColumnsToShow; track user.identityCard; let idx = $index){
          <th class="px-4 py-2 text-left text-gray-600">Hora {{idx + 1}}</th>
          }
          <th class="px-4 py-2 text-left text-gray-600">Descontar hora?</th>
        </tr>
      </thead>
      <tbody>
        @for (row of tableData; track row.id; let idx = $index) {
        <tr>
          <td>{{row.id}}</td>
          <td>{{row.name}}</td>
          <td>{{row.price}}</td>
          <td>{{row.currency}}</td>
          @for(couponUsage of row.couponUsages; track idy; let idy = $index){
          @if(couponUsage.dateUsed){
          <td>{{formatDate(couponUsage.dateUsed)}}</td>
          } @else {
          <td></td>
          }
          }
          <td>
            <button type="button" (click)="onAddDate(row)">
              Añadir
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if(showModal){
  <app-add-date-modal [couponToModify]="couponToModify"></app-add-date-modal>
}
